<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="Logs/internallog.txt">
 
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
  <!--LINUX-->
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="../../../Logs/trace/${shortdate}_logfile_trace.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfileinfo" xsi:type="File"
            fileName="../../../Logs/info/${shortdate}_logfile_info.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfiledebug" xsi:type="File"
            fileName="../../../Logs/debug/${shortdate}_logfile_debug.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfileerror" xsi:type="File"
            fileName="../../../Logs/error/${shortdate}_logfile_error.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfilewarm" xsi:type="File"
            fileName="../../../Logs/warm/${shortdate}_logfile_info.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfilefatal" xsi:type="File"
            fileName="../../../Logs/fatal/${shortdate}_logfile_info.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logconsole" xsi:type="Console" />
  </targets>
  <!--WINDOWS-->
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="c:/Logs/eDashboard/Logs/trace/${shortdate}_logfile_trace.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfileinfo" xsi:type="File"
            fileName="c:/Logs/eDashboard/Logs/info/${shortdate}_logfile_info.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfiledebug" xsi:type="File"
            fileName="c:/Logs/eDashboard/Logs/debug/${shortdate}_logfile_debug.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfileerror" xsi:type="File"
            fileName="c:/Logs/eDashboard/Logs/error/${shortdate}_logfile_error.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfilewarm" xsi:type="File"
            fileName="c:/Logs/eDashboard/Logs/warm/${shortdate}_logfile_info.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfilefatal" xsi:type="File"
            fileName="c:/Logs/eDashboard/Logs/fatal/${shortdate}_logfile_info.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logconsole" xsi:type="Console" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="logfileinfo" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="logfiledebug" />
    <logger name="*" minlevel="Error" writeTo="logfileerror" />
    <logger name="*" minlevel="Warn" writeTo="logfilewarm" />
    <logger name="*" minlevel="Fatal" writeTo="logfilefatal" />
  </rules>
</nlog>
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  --><!-- enable asp.net core layout renderers --><!--
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  --><!-- the targets to write to --><!--
  <targets>
    --><!-- write logs to file  --><!--
    <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    --><!-- another file log, only own logs. Uses some ASP.NET core renderers --><!--
    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  </targets>

  --><!-- rules to map from logger name to target --><!--
  <rules>
    --><!--All logs, including from Microsoft--><!--
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    --><!--Skip non-critical Microsoft logs and so log only own logs--><!--
    <logger name="Microsoft.*" maxLevel="Info" final="true" /> --><!-- BlackHole without writeTo --><!--
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
</nlog>-->