# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/Applications/AngularProject/dist
/Applications/AngularProject/tmp
/Applications/AngularProject/out-tsc

# dependencies
/Applications/AngularProject/node_modules

# profiling files
/Applications/AngularProject/chrome-profiler-events.json
/Applications/AngularProject/speed-measure-plugin.json

# IDEs and editors
/Applications/AngularProject/.idea
/Applications/AngularProject/.project
/Applications/AngularProject/.classpath
/Applications/AngularProject/.c9/
/Applications/AngularProject/*.launch
/Applications/AngularProject/.settings/
/Applications/AngularProject/*.sublime-workspace

# IDE - VSCode
/Applications/AngularProject/.vscode/*
!/Applications/AngularProject/.vscode/settings.json
!/Applications/AngularProject/.vscode/tasks.json
!/Applications/AngularProject/.vscode/launch.json
!/Applications/AngularProject/.vscode/extensions.json

# misc
/Applications/AngularProject/.sass-cache
/Applications/AngularProject/connect.lock
/Applications/AngularProject/coverage
/Applications/AngularProject/libpeerconnection.log
/Applications/AngularProject/npm-debug.log
/Applications/AngularProject/yarn-error.log
/Applications/AngularProject/testem.log
/Applications/AngularProject/typings

# System Files
.DS_Store
Thumbs.db

# --------------------------------------------------

# Autosave files
/Applications/NetProject/*~

# build
/Applications/NetProject/[Oo]bj/
/Applications/NetProject/[Bb]in/
/Applications/NetProject/packages/
/Applications/NetProject/TestResults/

# globs
/Applications/NetProject/Makefile.in
/Applications/NetProject/*.DS_Store
/Applications/NetProject/*.sln.cache
/Applications/NetProject/*.suo
/Applications/NetProject/*.cache
/Applications/NetProject/*.pidb
/Applications/NetProject/*.userprefs
/Applications/NetProject/*.usertasks
/Applications/NetProject/config.log
/Applications/NetProject/config.make
/Applications/NetProject/config.status
/Applications/NetProject/aclocal.m4
/Applications/NetProject/install-sh
/Applications/NetProject/autom4te.cache/
/Applications/NetProject/*.user
/Applications/NetProject/*.tar.gz
/Applications/NetProject/tarballs/
/Applications/NetProject/test-results/
/Applications/NetProject/Thumbs.db
/Applications/NetProject/.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover