.toggleRowIcon{
    padding-top: 3px;
}

.originClass{
    background-color: #F3B560;
}

.table-header{
    background-color: #3679B5;
    color: white;
    font-weight: 600;
}

.table-Sub-Header{
    background-color: #4DA5E5;
    color: white;
    font-weight: 600;
}

.deltaQuantity{
    color: #C84E3E;
    background-color: #ffe0dc;
}