<footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix navbar navbar-fixed-bottom">
    <div class="pull-left jabil-logo">
      <a href="http://jabil.com" target="_blank"><img src="assets/styles/img/various/logo-jabil@2x.png"></a>
  
      
    </div>
    <div class="pull-right">
        <a class="font-w600" href="#" target="_blank">{{appName + " " + appVersion}}</a> &copy; <span class="js-year-copy"></span> | <a class="font-w600" href="https://jabil.sharepoint.com/sites/IT/STS/uxdesign/Pages/UXTeam.aspx" target="_blank">{{currentYear}}</a>
    </div>
    <div class="pull-right">
        
    </div>
  </footer>