<!-- Page Header -->
<div class="content bg-gray-lighter">
  <div class="row items-push">
      <div class="col-sm-7">
        <!-- class="page-heading"   -->
        <h1>
          Lines / Areas Setup
        </h1>
      </div>
      <div class="col-sm-5 text-right hidden-xs">
          <ol class="breadcrumb push-10-t">
              <li>Production Plan</li>
              <li><a class="link-effect" href="javascript:void(0)">Areas</a></li>
          </ol>
      </div>
  </div>
</div>
<!-- END Page Header -->


<div class="block">
  <div class="block-header">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group" role="group">
        <button  class="btn btn-success btn-square"><i class="fa fa-plus-square"></i> Add Area/Line</button>
      </div>
      <div class="btn-group" role="group">
        <button  class="btn btn-primary btn-square"><i class="fa fa-save"></i> Save</button>
      </div>
      <div class="btn-group" role="group">
        <button  class="btn btn-default btn-square"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </div>
  </div>
  <div class="block-content">
    <div class="row">
      <div class="col-md-2"><b>Area Name</b></div>
      <div class="col-md-3"><b>iFactory Stations / Sources</b></div>
      <div class="col-md-2"><b>Remove</b></div>
    </div>
  </div>
  <div class="block-content">
      <div class="row">
        <div class="col-md-2"><input class="form-control" type="text" name="area" id="0"></div>
        <div class="col-md-3">
          <select class="form-control" name="" id="">
            <option value="0">SSCOASD4564</option>
            <option value="0">SSCOASD1144</option>
          </select>
        </div>
        <div class="col-md-2">

          <button class="btn btn-danger push-5-r push-10" type="button"><i class="fa fa-times"></i> Delete</button>
        </div>
      </div>
    </div>
</div>
    